<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div>
        <h1 class="AdminHeader">ProductOverview</h1>
    </div>
    <div class="container" style="padding-left: 200px">
        <div class="row">
            <div class="col">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="margin-left:auto; margin-right:auto;">
        <div>
            <a href="https://localhost:44364/Product/PropellerKepsar">
                <h2>Propeller Kepsar</h2>
                <img src="~/propkeps_3.jpg" width="200" height="200" />

            </a>
        </div>
        
        <div>
            <a href="https://localhost:44364/Product/TorkTumlare">
                <h2>TorkTumlare</h2>
                <img src="~/se-dryer-dv80f5e5hgw-dv80f5e5hgw-ee-006-front-white.webp" width="200" height="200"/>
            </a>
        </div>
    </div>
    

</body>
</html>